<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
	<!--连接工厂-->
	<rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="guest" password="guest" publisher-confirms="true"/>
	<!--队列-->
	<!--商品索引数据更新队列-->
	<rabbit:queue name="queue.goods_update_index"/>
	<!--商品索引数据删除队列-->
	<rabbit:queue name="queue.goods_delete_index"/>
	<!--消费者监听类-->
	<bean id="indexUpdateMessageConsumer" class="com.qingcheng.consumer.GoodsIndexUpdateConsumer"></bean>
	<bean id="indexDeleteMessageConsumer" class="com.qingcheng.consumer.GoodsIndexDeleteConsumer"></bean>

	<!--设置监听容器-->
	<rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" >
		<rabbit:listener queue-names="queue.goods_update_index" ref="indexUpdateMessageConsumer"/>
		<rabbit:listener queue-names="queue.goods_delete_index" ref="indexDeleteMessageConsumer"/>
	</rabbit:listener-container>
</beans>